.Home {
    min-height: 100vh;
    background-color: rgba(250, 250, 250, 1);
}
main {
    margin-top: 50px;
}
.category {
    width: 800px;
    justify-content: center;
    flex: 1 1 auto;
    visibility: visible;
    transition: 0.5s all;
}

.divCategory {
    border-radius: 50px;
    transition: 0.5s all;
}

.divCategory:hover {
    cursor: pointer;
    background-color: #feecf1;
}

.divCategory:hover span {
    color: #a44663;
}

.divCategory span {
    font-size: 17px;
}

.barraBusqueda {
    /* justify-content: space-between; */
    width: 780px;
}

.barraBusqueda .btn3 {
    color: #e20a4b;
    margin: 0 20px;
}

.barraBusqueda .btn4 {
    padding: 5px 0;
}

.buttons-busqueda {
    display: flex;
    flex-direction: row;
}
.input {
    width: 55%;
}

.input input {
    height: 100%;
    width: 100%;
    padding: 0;
}

.ingredientes {
    display: flex;
    flex-direction: row;
}

.ingredienteItem {
    background: #ffffff;
    border: 1px solid #b67c8e;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 0 10px;
    padding: 5px 12px;
    gap: 0.5rem;
    cursor: pointer;
    border-radius: 50px;
    color: #a44663;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.5s all;
}

.ingredienteItem p {
    color: #a44663;
    font-size: 15px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    line-height: 0;
    padding-right: 5px;
}

.eliminarIngrediente {
    height: 30px;
    width: 30px;
    background-color: #feecf1;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detalle-busqueda {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.detalle-busqueda p {
    font-size: 15px;
    font-weight: normal;
}

.contenedorRecetas {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}
.contenedorRecetas .receta {
    border-radius: 5px;
    background-color: white;
    width: 380px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    transition: 0.5s all;
}

.contenedorRecetas .receta img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.contenedorRecetas .receta .descripcion {
    padding: 15px;
}

.contenedorRecetas .receta .descripcion h2 {
    color: rgba(26, 26, 26, 1);
    font-weight: bold;
    font-size: 20px;
}

.contenedorRecetas .receta .descripcion > p {
    font-size: 13px;
    font-weight: normal;
    line-height: unset;
    text-align: justify;
    height: 60px;
}

.contenedorRecetas .receta .descripcion .detalles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(104, 76, 148, 1);
}

.contenedorRecetas .receta .descripcion .detalles .tiempo p,
.contenedorRecetas .receta .descripcion .detalles .cantIngredientes p,
.contenedorRecetas .receta .descripcion .detalles .dificultadReceta p {
    font-size: 13px;
    font-weight: normal;
    line-height: unset;
    color: rgba(104, 76, 148, 1);
    margin-bottom: 0;
    padding: 5px;
}

.contenedorRecetas .receta .descripcion .detalles .tiempo,
.contenedorRecetas .receta .descripcion .detalles .cantIngredientes,
.contenedorRecetas .receta .descripcion .detalles .dificultadReceta {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contenedorRecetas .receta .descripcion .detalles .tiempo img,
.contenedorRecetas .receta .descripcion .detalles .cantIngredientes img {
    width: 15px;
    height: 15px;
}

.hide {
    animation: hidden 0.5s ease-in-out;
    display: none;
    visibility: hidden;
    transition: 0.5s all;
    height: 0px;
}

@keyframes hidden {
    0% {
        display: flex;
        opacity: 1;
        visibility: visible;
        height: 100%;
    }

    100% {
        opacity: 0;
        display: none;
        visibility: hidden;
        height: 0%;
    }
}

@media (max-width: 1024px) {
    .contenedorRecetas {
        grid-template-columns: auto auto;
    }
    .contenedorRecetas .receta {
        width: 320px;
    }
}

@media (max-width: 768px) {
    .category {
        width: 100vw;
        margin: 0 10px;
    }
    .divCategory {
        padding: 7px 10px;
    }
    .divCategory span {
        font-size: 15px;
    }
    .barraBusqueda {
        width: 100vw;
        justify-content: center;
    }
}
@media (max-width:675px){
    .contenedorRecetas {
        grid-template-columns: auto;
    }
}
@media (max-width: 590px) {
    .presentacion {
        font-size: 30px;
        width: 95vw;
    }
    .barraBusqueda {
        display: flex;
        flex-direction: column;
    }
    .input {
        width: 90vw;
    }
}
